PruebaComponente.Web/Connected Services/CrudServiceReference/CrudService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/PruebaComponente.BLL.DTO" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/PruebaComponente.BLL.DTO" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfConsultaUsuarioDTO">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ConsultaUsuarioDTO" nillable="true" type="tns:ConsultaUsuarioDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfConsultaUsuarioDTO" nillable="true" type="tns:ArrayOfConsultaUsuarioDTO" />
  <xs:complexType name="ConsultaUsuarioDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="FechaNacimiento" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Id" type="xs:long" />
      <xs:element minOccurs="0" name="Nombre" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Sexo" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ConsultaUsuarioDTO" nillable="true" type="tns:ConsultaUsuarioDTO" />
  <xs:complexType name="RequestCrearUsuario">
    <xs:sequence>
      <xs:element minOccurs="0" name="FechaNacimiento" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Nombre" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Sexo" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="RequestCrearUsuario" nillable="true" type="tns:RequestCrearUsuario" />
  <xs:complexType name="UsuarioDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="Respuesta" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="UsuarioDTO" nillable="true" type="tns:UsuarioDTO" />
  <xs:complexType name="RequestEditarUsuario">
    <xs:sequence>
      <xs:element minOccurs="0" name="FechaNacimiento" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Id" type="xs:long" />
      <xs:element minOccurs="0" name="Nombre" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Sexo" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="RequestEditarUsuario" nillable="true" type="tns:RequestEditarUsuario" />
</xs:schema>