PruebaComponente.Web/Connected Services/CrudServiceReference/CrudService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="CrudService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:51346/CrudService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:51346/CrudService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:51346/CrudService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/PruebaComponente.BLL.DTO" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ICrudService_Consulta_InputMessage">
    <wsdl:part name="parameters" element="tns:Consulta" />
  </wsdl:message>
  <wsdl:message name="ICrudService_Consulta_OutputMessage">
    <wsdl:part name="parameters" element="tns:ConsultaResponse" />
  </wsdl:message>
  <wsdl:message name="ICrudService_ConsultaId_InputMessage">
    <wsdl:part name="parameters" element="tns:ConsultaId" />
  </wsdl:message>
  <wsdl:message name="ICrudService_ConsultaId_OutputMessage">
    <wsdl:part name="parameters" element="tns:ConsultaIdResponse" />
  </wsdl:message>
  <wsdl:message name="ICrudService_Crear_InputMessage">
    <wsdl:part name="parameters" element="tns:Crear" />
  </wsdl:message>
  <wsdl:message name="ICrudService_Crear_OutputMessage">
    <wsdl:part name="parameters" element="tns:CrearResponse" />
  </wsdl:message>
  <wsdl:message name="ICrudService_Editar_InputMessage">
    <wsdl:part name="parameters" element="tns:Editar" />
  </wsdl:message>
  <wsdl:message name="ICrudService_Editar_OutputMessage">
    <wsdl:part name="parameters" element="tns:EditarResponse" />
  </wsdl:message>
  <wsdl:message name="ICrudService_Eliminar_InputMessage">
    <wsdl:part name="parameters" element="tns:Eliminar" />
  </wsdl:message>
  <wsdl:message name="ICrudService_Eliminar_OutputMessage">
    <wsdl:part name="parameters" element="tns:EliminarResponse" />
  </wsdl:message>
  <wsdl:portType name="ICrudService">
    <wsdl:operation name="Consulta">
      <wsdl:input wsaw:Action="http://tempuri.org/ICrudService/Consulta" message="tns:ICrudService_Consulta_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICrudService/ConsultaResponse" message="tns:ICrudService_Consulta_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ConsultaId">
      <wsdl:input wsaw:Action="http://tempuri.org/ICrudService/ConsultaId" message="tns:ICrudService_ConsultaId_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICrudService/ConsultaIdResponse" message="tns:ICrudService_ConsultaId_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Crear">
      <wsdl:input wsaw:Action="http://tempuri.org/ICrudService/Crear" message="tns:ICrudService_Crear_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICrudService/CrearResponse" message="tns:ICrudService_Crear_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Editar">
      <wsdl:input wsaw:Action="http://tempuri.org/ICrudService/Editar" message="tns:ICrudService_Editar_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICrudService/EditarResponse" message="tns:ICrudService_Editar_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Eliminar">
      <wsdl:input wsaw:Action="http://tempuri.org/ICrudService/Eliminar" message="tns:ICrudService_Eliminar_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICrudService/EliminarResponse" message="tns:ICrudService_Eliminar_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_ICrudService" type="tns:ICrudService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Consulta">
      <soap:operation soapAction="http://tempuri.org/ICrudService/Consulta" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ConsultaId">
      <soap:operation soapAction="http://tempuri.org/ICrudService/ConsultaId" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Crear">
      <soap:operation soapAction="http://tempuri.org/ICrudService/Crear" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Editar">
      <soap:operation soapAction="http://tempuri.org/ICrudService/Editar" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Eliminar">
      <soap:operation soapAction="http://tempuri.org/ICrudService/Eliminar" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="CrudService">
    <wsdl:port name="BasicHttpBinding_ICrudService" binding="tns:BasicHttpBinding_ICrudService">
      <soap:address location="http://localhost:51346/CrudService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>